// Global default params, used in configs
/* Locations of external programs (rest available via modules) */


params {
  reads = "/projects/oarc/NF-Seq/SampleData/chrX_data/samples/*_{1,2}.fastq.gz"
  //SingleEnd="false"
  outdir = "${PWD}/results"
  genome = "/projects/oarc/NF-Seq/SampleData/chrX_data/genome/chrX.fa"
  gtf = "/projects/oarc/NF-Seq/SampleData/chrX_data/genes/chrX.gtf"
  hisat2_index_base="/projects/oarc/NF-Seq/SampleData/chrX_data/indexes/chrX_tran"
  task_cpus = 1
  aligner = "hisat2"
  do_trimgalore = "true"
}

